# Virtual environment
.venv/

# Compiled python files
__pycache__/
*.py[cod]
*.so

# Static files
STATI

# Local config/projects (do not track)
AI.py
projectpapca/
config/

# Package manager and build
*.egg-info/
dist/
build/

# VSCode and PyCharm
.vscode/
.idea/

.gitignore